body {
  background: rgb(247, 236, 139);
}

h1,
p {
  text-align: center;
}

.menu {
  display: flex;
  justify-content: center;
}

.navigator-link {
  color: green;
  margin-right: 20px;
}

.navigator-link:visited {
  color: green;
}
